<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>A1:</strong>
  <%= @plane.A1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @plane.A2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @plane.A3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @plane.A4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @plane.A5 %>
</p>

<p>
  <strong>B1:</strong>
  <%= @plane.B1 %>
</p>

<p>
  <strong>B2:</strong>
  <%= @plane.B2 %>
</p>

<p>
  <strong>B3:</strong>
  <%= @plane.B3 %>
</p>

<p>
  <strong>B4:</strong>
  <%= @plane.B4 %>
</p>

<p>
  <strong>B5:</strong>
  <%= @plane.B5 %>
</p>

<p>
  <strong>C1:</strong>
  <%= @plane.C1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @plane.C2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @plane.C3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @plane.C4 %>
</p>

<p>
  <strong>C5:</strong>
  <%= @plane.C5 %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
