<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>


  <%= link_to 'Planes', planes_path %>
  <%= link_to 'Flight', flights_path %>
    <%= link_to 'Sign Up', new_user_path %>
    <%= link_to 'Login', users_path %>
    <h1>Login</h1>

    <form action="/sessions" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="login[name]" placeholder="username">
        <input type="password" name="login[password]" placeholder="password">
        <input type="submit" name="submit" class="submit">
    </form>


</body>
</html>
